footer {
    width: 100%;
    display: flex;

    justify-content: center;
    padding: 0px 35px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.footer_content {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 0px;
}


footer .pages {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

footer .pages div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.logo {
    width: 300px;
    object-fit: cover;
    margin: 0 auto;
}