.menu-header {
    width: 100%;
    background-color: white;
    position: sticky;
    transition: all 0.3s ease;
    transition: padding 0s;
    z-index: 4223223;
    transition: 0.5s ease;
}

.menu-header.not_sticky {
    top: -130px;
}

.menu-header.sticky {
    top: 0px;
}



.main_mega_menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0px;
    background-color: rgba(86, 86, 86, 0.337);
    transition: 1.3s ease;
    z-index: 132553;
    display: none;
}

.main_mega_menu div {
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    bottom: 0;
    left: -500px;
    height: 100vh;
    width: 500px;
    border-right: 1px solid black;
    background-color: white;
    transition: 0.6s ease;
    z-index: 55555555555;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 22vh;
    padding-left: 30px;
}


.mega_menu_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}


.mega_menu_list li a {
    text-decoration: none;
    display: flex;
    gap: 15px;
    transition: 0.3s;
    padding: 10px;
    border-radius: 8px;
}

.mega_menu_list li a i {
    font-size: 20px;
    color: #555;
    transition: 0.3s;

}

.mega_menu_list li a:hover {
    background-color: #f5f5f5;
    color: red;
}

.mega_menu_list li a:hover i {
    color: red;
}


.main_mega_menu_2 {
    width: 100%;
    height: 95vh;
    position: fixed;
    top: -100%;
    left: 0px;
    background-color: rgb(0, 0, 0);
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid black;
    background-color: rgb(0, 0, 0);
    transition: 0.6s ease;
    z-index: 55;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 18vh;
    padding-left: 30px;
    padding-bottom: 20px;
}




.mega_menu_list_2 {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}


.mega_menu_list_2 li a {
    text-decoration: none;
    display: flex;
    gap: 15px;
    transition: 0.3s;
    padding: 10px;
    width: 90%;
    border-radius: 8px;
    background-color: #f5f5f5;

}

.mega_menu_list_2 li a i {
    font-size: 20px;
    color: #555;
    transition: 0.3s;

}

.mega_menu_list_2 li a:hover {
    background-color: #000000;
    color: red;
    border: 1px solid #f5f5f5;
    transform: translateY(-5px);

}

.mega_menu_list_2 li a:hover i {
    color: red;
}







header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
    align-items: center;
    padding: 0 15px;
}

.header_content {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_side1{
    display: flex;
    gap: 70px;
}

.navi {
    display: none;
}

.pgs {
    display: none;
}

nav{
    display: flex;
    gap: 40px;
    align-items: center;
}

nav nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}



.a1 {
    color: black;
    position: relative;
}

.a1::before {
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 1px;
    background-color: #000000;
    content: "";
}

.a2 {
    color: black;
    position: relative;
    transition: 2s;
}

.a2::before {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #000000;
    content: "";
    transition: 0.3s ease;
    width: 0;
    height: 1px;
}

.a2:hover::before {
    width: 100%;

}

#nav-icon4 {
    width: 30px;
    height: 22px;
    position: relative;
    cursor: pointer;
    transition: .5s ease-in-out;
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(1) {
    top: 0px;
}

#nav-icon4 span:nth-child(2) {
    top: 9px;
}

#nav-icon4 span:nth-child(3) {
    top: 18px;
}

#nav-icon4.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -2px;
    left: 4px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 19px;
    left: 4px;
}



#nav-icon {
    width: 30px;
    height: 22px;
    position: relative;
    cursor: pointer;
    transition: .5s ease-in-out;
    display: none;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
    transform-origin: left center;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2) {
    top: 9px;
}

#nav-icon span:nth-child(3) {
    top: 18px;
}

#nav-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -2px;
    left: 4px;
}

#nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 19px;
    left: 4px;
}