.menu {
    height: 48px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 0 15px;
}

.menu_content {
    height: 100%;
    max-width: 1170px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a {
    display: flex;
    gap: 15px;
}