@import url(../main.css);

header{
    background-color: black;
}

.privacy_policy{
    width: 1170px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}