@import url(../main.css);

#product_hero {
  width: 100%;
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  background-attachment: fixed;
}

.product_details {
  width: 1170px;
  height: 700px;
  margin: 70px auto 140px auto;
  display: flex;
}

.product_images {
  width: 60%;
  height: 100%;
  display: flex;
  gap: 30px;
}

.product_info {
  width: 40%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.images_available {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product_details_image {
  width: 100%;
  height: 19.5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 0px 10px 0px rgba(219, 219, 219, 0.459);

}

.main_image {
  width: 75%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 0px 10px 0px rgba(219, 219, 219, 0.459);
}

.buy {
  display: flex;
  gap: 16px;
}

.how_many_main {
  width: 160px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #00000080;
  border-radius: 4px;
  overflow: hidden;
}

.minus,
.plus {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minus {
  border-right: 1px solid #00000080;
}

.plus {
  border-left: 1px solid #00000080;
}


.buy_now {
  width: 165px;
  height: 44px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}



.add_to_wishlist {
  height: 44px;
  aspect-ratio: 1;
  border: 1px solid #00000080;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}











.product_rating {
  height: 25px;
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
}

.product_rating span {
  font-size: 20px;
  font-weight: 500;
  color: #555;
}


.product_rating svg {
  height: 100%;
}

.product_rating .deactive_stars_div {
  height: 100%;
}

.product_rating .active_stars_div {
  z-index: 2;
  position: absolute;
  height: 100%;
  top: 0;
  overflow: hidden;
  width: 60%;
}

.product_rating .active_stars * {
  fill: rgb(255, 204, 0);
}

.product_rating .deactive_stars * {
  fill: rgb(172, 172, 172);
}

.product-grid_main {
  width: 100%;
  padding: 0px 50px;
  margin-bottom: 50px;
}


.product-grid {
  width: 1170px;
  padding: 10px 10px;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: grid;
  gap: 20px;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}



.product-card_img {
  width: 100%;
  height: 50%;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s ease;
}



.product-card_info {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}


.product-card_add_to_card {
  width: 90%;
  height: 40px;
  transition: 0.2s;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}


.product-card {
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  row-gap: 10px;
  border: 1px solid #f5f5f5;
  transition: 0.3s;
  height: 350px;
  color: unset;
  text-decoration: none;
  flex-direction: column;
}


.attributes {
  width: 100%;
  height: auto;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
}

.left_side,
.right_side {
  width: 50%;
  height: 100%;
}

.left_side_div {
  width: 100%;
  border-bottom: 1px solid rgb(139, 139, 139);
  border-right: 1px solid rgb(139, 139, 139);
  padding: 5px;
}

.right_side_div {
    width: 100%;
    border-bottom: 1px solid rgb(139, 139, 139);
    padding: 5px;
  }