@import url(../main.css);

header {
    margin-bottom: 70px;
}

.grid_1,
.grid_2 {
    cursor: pointer;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.container_content {
    width: 1170px;
    display: flex;
    gap: 15px;
}

.sidebar {
    width: 25%;
    height: 100%;
    border-right: 1px solid #F5F5F5;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: none;
    transition: 0.5s ease;
}

.sidebar_close {
    position: absolute;
    left: -100%;
}

.main-content {
    width: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.main-content_grid_close {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.product-grid.grid_view {
    grid-template-columns: repeat(3, 1fr);
}

.product-grid.grid_view.grid_close {
    grid-template-columns: repeat(4, 1fr);
}

.product-grid.list_view {
    grid-template-columns: repeat(1, 1fr);
}

.product-grid {
    padding: 10px 10px;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
    display: grid;
    gap: 20px;
    overflow: hidden;
}



.search-box {
    width: 1170px;
    margin: 0 auto;
    height: 40px;
    position: relative;
    display: flex;
}

.search-box input {
    width: 92%;
    height: 100%;
    padding: 0px 40px 0px 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 4px;
}

.search-box .search {
    width: 8%;
    height: 100%;
    border-left: 1px solid black;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}



.category_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    color: #7d879c;
}

.category_list li {
    cursor: pointer !important;
}

.input[type="range"] {
    width: 100%;
    background-color: #DB4444;
}

.category_list li:hover {
    color: #DB4444;
}

.category_list input[type="radio"] {
    accent-color: #DB4444;
}

.product-grid.grid_view .product-card {
    flex-direction: column;
}

.product-card {
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    row-gap: 10px;
    border: 1px solid #f5f5f5;
    transition: 0.3s;
    height: 350px;
    color: unset;
    text-decoration: none;
}

.product-card_list {
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    width: 100%;
    row-gap: 10px;
    border: 1px solid #f5f5f5;
    transition: 0.3s;
    height: 200px;
    color: unset;
    text-decoration: none;
}

.featured-item {
    display: flex;
    gap: 15px;
    align-items: center;

}

.featured-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}

.featured-products {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px #0000000d;
}

.product-card_img {
    width: 100%;
    height: 50%;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s ease;
}

.product-card_img_list {
    height: 100%;
    min-width: 40%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}



input[type="range"] {
    width: 100%;
    height: 40px;
    background: #ff0000;
    border-radius: 5px;
    outline: none;
}

.product-card_add_to_card {
    width: 90%;
    height: 40px;
    transition: 0.2s;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.product-card_info {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

.product-card_info_list {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}



.rating {
    display: flex;
    gap: 10px;
    align-items: center;
}

.rating .product_rating {
    height: 15px;
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
}

.product_rating span {
    font-size: 20px;
    font-weight: 500;
    color: #555;
}


.product_rating svg {
    height: 100%;
}

.product_rating .deactive_stars_div {
    height: 100%;
}

.product_rating .active_stars_div {
    z-index: 2;
    position: absolute;
    height: 100%;
    top: 0;
    overflow: hidden;
    width: 90%;
}

.product_rating .active_stars * {
    fill: rgb(255, 204, 0);
}

.product_rating .deactive_stars * {
    fill: rgb(172, 172, 172);
}


.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close_button {
    width: 25px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 2px;
    border: none;
    transition: 0.5s ease;
}