@import url(../main.css);








.featdiv {
    display: flex;
    gap: 10px;
}


.tech {
    height: 145px;
    border-radius: 4px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 0.3s ease;
}
.technic {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 0.5fr));
    gap: 10px;
    overflow: hidden;

}

.browse_by_category .fa {
    font-size: 55px;
}

.tech:hover {
    background-color: red !important;
    color: white !important;
    border: none !important;
}

.browse_by_category {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
    margin-bottom: 70px;
}

.browse_by_category_content {
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 0 auto;
}



.featured-button {
    display: flex;
    gap: 8px;
}

.featured-button button {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.featured-button button i {
    font-size: 18px !important;
    color: black;
}






.Hero {
    width: 100%;
    height: 601px;
    margin-bottom: 70px;
    background-image: url(/images/HERO_HOME.webp);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20px;
}

.hero_content {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.hero_content * {
    text-shadow: 0 0 5px black,
        0 0 5px black,
        0 0 20px #0099ff,
        0 0 40px #0099ff;
}

.hero_content h3{
    width: 300px;
}

.hero_content h6{
    width: 500px;
}

.categories {
    width: 100%;
    height: 500px;
    padding: 0px 35px;
    background-image: url(/images/hero2\ image.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}


.content_categories {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 1170px;



}

.fh2 {
    position: relative;
    margin-top: -8px;
}



.search-box {
    width: 1170px;
    margin: 0 auto;
    height: 40px;
    position: relative;
    display: flex;
}

.search-box input {
    width: 92%;
    height: 100%;
    padding: 0px 40px 0px 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 4px;
}

.search-box .search {
    width: 8%;
    height: 100%;
    border-left: 1px solid black;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}




.categories button {
    height: 56px;
    width: 171px;
    box-shadow: 0px 0px 10px 5px #00ff66;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}


.categories button:hover {
    box-shadow: 0px 0px 10px 10px #00ff66;
}


.new_arrival * {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.new_arrival-side1,
.new_arrival-bottomright,
.new_arrival-topside,
.new_arrival-bottomleft {
    transition: 0.3s ease;
}

.new_arrival-side1:hover,
.new_arrival-bottomright:hover,
.new_arrival-topside:hover,
.new_arrival-bottomleft:hover {
    filter: brightness(0.8);
}

.Main-new_arrival {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}

.Main-new_arrival_content {
    width: 1170px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.new_arrival {
    display: flex;
    gap: 30px;
    color: white;
    width: 1170px;
    margin: 0 auto;
    height: 600px;
}

.new_arrival-side1,
.new_arrival-bottomright,
.new_arrival-topside,
.new_arrival-bottomleft {
    width: 49.5%;
    display: flex;
    align-items: end;
    padding: 32px;
}

.new_arrival-side2 {
    width: 49.5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.new_arrival-topside,
.new_arrival-bottomside {
    width: 100%;
    height: 50% !important;
}

.new_arrival-bottomright,
.new_arrival-bottomleft {
    width: 50%;
    height: 100%;
}

.new_arrival-bottomside {
    display: flex;
    gap: 30px;
}