@import url(../main.css);

.container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}


.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.section-title-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.outline-btn {
    background: transparent;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 16px 48px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.outline-btn:hover {
    background-color: #f5f5f5;
}


.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}