@media (max-width: 777px) {

    h1 {
        font-size: 54px;
        font-weight: 600;
        line-height: 64px;
    }

    h2 {
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
    }

    h3 {
        font-size: 24px !important;
        font-weight: 600;
        line-height: 30px !important;
    }

    h4 {
        font-size: 32px;
        font-weight: 700;
        line-height: 30px;
    }

    .h5 {
        font-size: 28px;
        font-weight: 400;
        line-height: 30px;
    }

    h6 {
        font-size: 15px !important;
        font-weight: 600;
        line-height: 20px;
    }
}