@media (max-width: 777px) {
    h1 {
        font-size: 36px;
        line-height: 42px;
    }

    h2 {
        font-size: 32px;
        line-height: 38px;
    }

    h3 {
        font-size: 28px !important;
        line-height: 34px !important;
    }

    h4 {
        font-size: 24px;
        line-height: 28px;
    }

    .h5 {
        font-size: 20px;
        line-height: 24px;
    }

    h6 {
        font-size: 18px !important;
        line-height: 22px;
    }
}