@media (max-width: 777px) {
    h1 {
        font-size: 36px!important;
        line-height: 42px!important;
    }

    h2 {
        font-size: 32px!important;
        line-height: 38px!important;
    }

    h3 {
        font-size: 28px !important;
        line-height: 34px !important;
    }

    h4 {
        font-size: 24px!important;
        line-height: 28px!important;
    }

    .h5 {
        font-size: 20px!important;
        line-height: 24px!important;
    }

    h6 {
        font-size: 18px !important;
        line-height: 22px!important;
    }
}