@media (max-width: 777px) {
    .Hero {
        height: 400px;
    }

    .hero_content {
        padding-top: 60px;
    }

    .hero_content h3 {
        width: 200px;
    }

    .hero_content h6 {
        width: 300px;
    }

}