@media (max-width: 777px) {
    .Hero {
        height: 400px;
    }

    .hero_content {
        padding-top: 60px;
    }

    .hero_content h3 {
        width: 200px;
    }

    .hero_content h6 {
        width: 300px;
    }

    footer img.logo {
        width: 50px !important;
    }

    .categories {
        height: 300px;
    }

    .categories button {
        width: 130px;
        height: 40px;
    }
}

/* 
@media (max-width: 389px) {
    .technic {
            gap: 0;
    }
} */